<div id="sidebar" class="sidebar collapsed">
    <button class="hamburger" aria-label="Toggle menu">
        <i class="bi bi-list hamburger-icon"></i>
        <i class="bi bi-x close-icon"></i>
    </button>
    <div class="nav-links">
        <div class="top-part">
            <a class="hover-bg py-3 px-2 {% if request.path == '/' %}active-link{% endif %}" href="{{ url_for('home') }}">Home</a>
            <a class="hover-bg py-3 px-2 {% if request.path == '/dashboard' %}active-link{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
        </div>
        
        <div>
            <button id="themeToggle" class="btn btn-sm btn-secondary">
                <i class="bi bi-sun-fill"></i> Toggle Theme
            </button>
            <a class="hover-bg py-3 px-2 github-space" href="https://github.com/CorgiStrike/Energy-Anomaly-Detection" target="_blank" >GitHub<i class="bi bi-box-arrow-up-right"></i></a>
            <a href="{{ url_for('logout') }}" class="hover-bg py-3 px-2">Logout</a>
        </div>
    </div> 
</div>